@charset "utf-8";
/* 초기화 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
body, h1, h2, h3, p, ul {margin: 0; padding:0;}
ul{list-style: none;}
a{text-decoration: none;}
hr{display:none;}
.hidden{overflow: hidden;
    position: absolute;
    width: 1px; 
    height: 1px;
    margin: -1px;
    clip:rect(0,0,0,0);}
body{max-width: 1300px; min-width: 730px;
    margin: 0 auto;
    padding: 24px 9px 0;
    /* display: flex; flex-direction: column; */
    /* margin: 24px 9px 0; */
    background: linear-gradient(to bottom, #48aec7, #fff 330px) repeat-x;
        font-family: "Nanum Gothic", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
/* 헤더 */
#header{height: 164px; border-bottom: 6px solid #030;
    background: #fff url(../images/bg2.png) no-repeat right center;}
#header hgroup{padding: 65px 0 0 35px;}
#header hgroup h1{margin-bottom: 12px;}
#header hgroup p{font-weight: bold;}
/*gnb*/
#gnb{height: 44px; display: flex;
    justify-content: end;
align-items: center;}
#gnb ul{display: flex;}
#gnb ul li{margin: 0 15px;}
#gnb ul li a{color:#333;}
#gnb ul li a:hover{border-bottom: 3px solid #f00;}
/*main*/
main{padding:29px 7px 25px; border: 1px dotted #48aec7; }
/*content*/

#content header{padding-bottom: 13px;
                border-bottom: 1px dotted #48aec7;}
#content article h3{margin: 25px 0;}
